.App {
  text-align: center;
}

Body {
  background-color: #282c34 !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.white {
  color: white;
  margin: auto;
  margin-bottom: 10%;
}

.buttonStuff {
  margin-bottom: 5%;
}

.ncrFormField {
  margin-top: 4%;
  margin-bottom: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  background: #ffffff;
  /* Border / secondary */

  text-align: center;
  border: 1px solid rgba(60, 60, 67, 0.29);
  box-sizing: border-box;
  border-radius: 8px;
}

.ncrFormField:focus {
  outline: none !important;
  box-shadow: 0px 0px 8px #a0dffd;
  border-radius: 8px;
}

.botMarg {
  padding-bottom: 10%;
}

.snippet {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.imgContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 115px;
  height: 115px;
  line-height: 115px;
  margin-bottom: 10%;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}
